.home-title {
  color: blue;
}

.home-container {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.articles-section {
  align-items: center;
  height: 400px;
  width: 400px;
  color: #ffffff;
  background-color: #000066;
  border-radius: 10px;
}

.graphic-automation-section {
  height: 400px;
  width: 400px;
  color: #ffffff;
  background-color: #000066;
  border-radius: 10px;
}

.project-base-section {
  height: 400px;
  width: 400px;
  color: #ffffff;
  background-color: #000066;
  border-radius: 10px;
}
