body {
  margin: 0;
}
.top-backgroud {
  font-size: 50px;
  font-weight: 500px;
  background-color: #004d00;
  color: #ffcc00;
  margin: 1px;
}
.graphics-logo {
  width: 20px;
}
.graphics-navbar {
  display: flex;
  justify-content: center;
  background-color: #003300;
  text-align: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
  width: 95vw; /* viewport width = full page width */
}

.graphics-nav-items {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  gap: 30px;
  list-style: none;
}

.graphics-nav-items a {
  color: #fff;
  text-decoration: none;
  font: 18px;
  font-weight: 200px;
}

.graphics-nav-items a:hover {
  border-bottom: 5px solid #ffcc00;
}
