.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000000;
  padding: 20px 40px;
}

.logo {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

a:hover {
  color: blue;
}
