.articles-navbar-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  width: 95vw; /* viewport width = full width */
}

.articles-nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.articles-nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500px;
}

.articles-nav-links a:hover {
  color: blue;
}

/* Logo */
.articles-logo {
  width: 100px;
  padding: 10px 40 10px 40px;
}

.profile-icon {
  width: 30px;
}
.profile-icon:hover {
  border-bottom: 2px solid blue;
}

.notification-icon {
  width: 30px;
  border-right: 2px solid #ccc;
}

.notification-icon:hover {
  border-bottom: blue;
}
