html,
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.top-background-color {
  background-color: rgb(122, 73, 14);
}

.title {
  text-align: left;
  color: #ffffff;
  font-size: 50px;
  background-color: #081255;
}
